/* #### google fonts #### */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "./menu.css";
@import "./particles.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  color: white;
  background-color: rgb(0, 70, 0);
}

.container {
  margin: 25px auto;
  padding: 0 15px;
}

img {
  width: 100%;
  vertical-align: middle;
}

p {
  margin: 12px 0;
}

.f2x {
  font-size: 2em;
}

header {
  margin: 150px 0 -30px 0;
  height: 100%;
}

.content-wrapper {
  margin-top: 64px;
}

ul,
ol,
a {
  font-size: 100%;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

.text-lg {
  font-size: 1em;
  font-weight: 400;
}

.text-md {
  font-size: 0.8em;
  font-weight: 400;
}

.text-sm {
  font-size: 0.6em;
  font-weight: 400;
}

.text-shadow {
  text-shadow: 3px 3px 6px #555;
}

.box-shadow {
  box-shadow: 3px 3px 6px #555;
}
.am-margin5 {
  margin: 5px;
}

.am-padding30 {
  padding: 30px 0;
}

.center {
  text-align: center;
}

.icon {
  fill: #fff;
}

.icon-sm {
  width: 25%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.row {
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
}

.am-brd-radius50 {
  border-radius: 50%;
}

.title,
.subtitle {
  margin: 8px 0 12px 0;
}

.read-more {
  font: italic 600 .8em;
}

.circle {
  border-radius: 50%;
}

.show {
  display: block !important;
}

.expend.circle:hover {
  background-color: red !important;
  transform: scale(8, 8);
}

#titleAnim {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

/* ### header animation box ### */
.letter-box {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: #fcf9f9;
  overflow: hidden;
  padding-bottom: 0.15em;
}

.directors-list-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.list-column {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 15px;
}

.wht-bar {
  display: inline-block;
  line-height: 30px;
  margin: 2px 11px 2px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 8px rgba(2, 2, 2, 0.4);
  overflow: hidden;
  height: 30px;
}

.wht-bar:hover {
  background-color: #ecb793;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.director,
.advisory {
  color: rgb(0, 70, 0) !important;
}

.director.title,
.director.subtitle,
.advisory.title {
  padding-left: 12px;
}

.director.intro,
.advisory.intro {
  height: 0;
  overflow: hidden;
  padding: 0 10px;
}

.wht-bar.active,
.intro.active {
  height: auto;
  padding-bottom: 10px;
  background-color: #ecb793;
  color: #fff;
  transition: 500ms ease-out;
}

.directors-tab.subtitle {
  padding: 8px 15px;
  width: 100%;
}


.letter-box .letter {
  display: inline-block;
}

.anim-wrapper {
  margin: 0 auto;
  padding: 15px 0;
}

.intro-container {
  padding: 0.7em 15px;
}

.intro-container .word {
  display: inline-block;
  padding: 0 4px;
  letter-spacing: 2.5px !important;
  color: #fcf9f9;
  opacity: 0;
}

.sub-wrapper.member {
  width: 100%;
  margin: 35% 0;
}

.title-container.sub {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

img.brain {
  display: block;
  max-width: 70%;
  margin: 12px auto;
}

.box-wrapper {
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: auto;
}

.box-column-wrapper {
  display: flex;
  flex-flow: column;
  padding: 15px 10px;
}

.ie.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 0.8em;
  border: 2px solid #fff;
  padding: 18px 0;
  margin: 4px;
}

.ie.circle:hover {
  background-color: #3e853e;
}

.wht-border {
  border: 1.5px solid #fff;
}

.brd-radius-8 {
  border-radius: 8px;
}

.btn-container {
  width: 100%;
}

.icons svg {
  display: block;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 8px 18px;
  width: 50%;
  margin: 8px auto;
  background-color: transparent;
  border-radius: 8px;
  border: 1.5px solid #fff;
  text-align: center;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: rgb(180, 113, 12);
  color: #fff;
  transition: 0.5s ease-in-out;
}

/* ###################### */
/* #### desktop view #### */
/* ###################### */
@media screen and (min-width: 769px) {
  main {
    margin-top: 15%;
  }

  .container {
    width: 960px;
    max-width: 80%;
    padding: inherit !important;
  }

  .text-container {
    margin-top: 12%;
  }

  .title-container {
    width: 500px;
  }

  .hd1 {
    font-size: 3.2em;
  }

  .column50 {
    width: 50%;
  }

  .column30 {
    width: 30%;
  }

  .column70 {
    width: 70%;
  }
  .intro-container .word {
    font-size: 1.2em !important;
    font-weight: 400;
  }

  .sub-wrapper.member {
    width: 100%;
    margin: 15% 0;
  }

  .list-column {
    width: 50%;
  }

  .directors-list-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0 auto 60px;
  }

  .brain {
    width: 350px;
  }

  .contact {
    display: flex;
    flex-flow: column nowrap;
  }

  .contact-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .box-wrapper {
    width: 960px;
    max-width: 80%;
    justify-content: space-around;
    margin: 0 auto;
  }

  .box-column-wrapper {
    margin: 12px 6px;
  }

  .rt-box {
    margin-left: 12px !important;
  }

  .lt-box {
    margin-right: 12px !important;
  }
}

/* ###################### */
/* #### mobile view #### */
/* ###################### */
@media screen and (max-width: 768px) {
  .title-container {
    width: 280px;
  }

  .hide {
    visibility: hidden;
  }

  .container {
    min-width: 100%;
    padding: 0 15px;
  }

  .box-wrapper {
    width: 100% !important;
    padding: inherit;
  }

  .box-column-wrapper {
    margin: 12px auto;
  }

  .homeEI .box-column-wrapper:nth-child(1) {
    order: 3;
  }
}
