/* ###### styling directors page #### */
.box-wrapper {
  border: 2px solid red;
}
.directors {
  color: rgb(0, 70, 0) !important;
}

.directors .person,
.directors .person-title {
  padding-left: 12px;
}

.directors .intro {
  height: 0;
  overflow: hidden;
  padding: 0 10px;
  line-height: 1.2em;
}

.wht-bar.active,
.intro.active {
  height: auto;
  padding-bottom: 10px;
  background-color: #ecb793;
  transition: 500ms ease-out;
}

.directors-tab {
  padding: 8px 15px;
  width: 100%;
  color: #fff;
}

.wht-bar {
  display: inline-block;
  line-height: 30px;
  margin: 2px 11px 2px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 8px rgba(2, 2, 2, 0.4);
  overflow: hidden;
  height: 30px;
}

.wht-bar:hover {
  background-color: #ecb793;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.col-lt, .col-rt {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 15px;
}


@media (min-width: 769px) {
  .col-lt, .col-rt {
    width: calc(100% / 2);
  }
  
}