/* styling contact us page */
.contact-wrapper {
    padding: 10px;
  }
  
  i.fas {
    padding-right: 12px;
  }
  
  .contact-wrapper ul {
    color: #fff;
  }
  
  .contact-wrapper li {
    padding: 8px 12px;
  }
  
  .c-form input, .c-form textarea {
    font-size: 1em;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    padding: 8px 12px;
    margin-bottom: 4px;
    width: 100%;
    color: #fff;
  }
  
  .c-form textarea {
    height: 100px;
    max-height: 250vh;
    resize: vertical;
  }

  ::placeholder {
    color: #fff;
    font-size: .8em;
    letter-spacing: .2em;
  }