.storytelling {
  width: 215px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .box-wrapper {
    background-image: url("../../img/puzzle-brain.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    height:auto;
  }

}